<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd" id="WebApp_ID" version="4.0">
  <display-name>ServletOne</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.jsp</welcome-file>
    <welcome-file>default.htm</welcome-file>
  </welcome-file-list>
  
  
  
  <!-- 1st mapping -->
  
  <servlet> 
  			<servlet-name> FirstServlet</servlet-name>
  			<servlet-class>com.firstServlets._01GenericServlet</servlet-class>
  </servlet>
  
  <servlet-mapping>
  			<servlet-name> FirstServlet</servlet-name>
  			<url-pattern>/success</url-pattern>
  	
  </servlet-mapping>
  
  
  <!-- 2nd mapping -->
  
  <servlet>
  			<servlet-name>SecondServlet</servlet-name>
  			<servlet-class>com.firstServlets._02GenericServlet</servlet-class>
  </servlet>
  
  <servlet-mapping>
  			<servlet-name>SecondServlet</servlet-name>
  			<url-pattern>/second</url-pattern>
  </servlet-mapping>
  
  <!-- 3rd mapping -->
  
  <servlet>
  		<servlet-name>ThirdServlet</servlet-name>
  		<servlet-class>com.firstServlets._03GenericServlet</servlet-class>
  </servlet>
  
  <servlet-mapping>
  		<servlet-name>ThirdServlet</servlet-name>
  		<url-pattern>/addition</url-pattern>
  </servlet-mapping>
  
  
  <!-- 4th mapping -->
  
  <servlet>
  			<servlet-name>IsPrime</servlet-name>
  			<servlet-class>com.firstServlets._04GenericIsPrime</servlet-class>
  </servlet>
  
  <servlet-mapping>
  			<servlet-name>IsPrime</servlet-name>
  			<url-pattern>/primeNumber</url-pattern>
  </servlet-mapping>
  
  <!-- 5th mapping -->
  
  <servlet>
  			<servlet-name>Login</servlet-name>
  			<servlet-class>com.firstServlets._05GenericServletLoginPanel</servlet-class>
  </servlet>
  
  <servlet-mapping>
  			<servlet-name>Login</servlet-name>
  			<url-pattern>/login</url-pattern>
  </servlet-mapping>
  
  <!-- http servlets -->
  
   <!-- 1st servlets mapping -->
   
   <servlet>
   		<servlet-name>Ipl</servlet-name>
   		<servlet-class>httpServlet._01httpServletCricket</servlet-class>
   </servlet>
   <servlet-mapping>
   			<servlet-name>Ipl</servlet-name>
   			<url-pattern>/ipl</url-pattern>
   </servlet-mapping>
   
   
   <!-- 2nd mapping -->
   <servlet>
   		<servlet-name>Sport</servlet-name>
   		<servlet-class>httpServlet._02httpServlet</servlet-class>
   </servlet>
   
   <servlet-mapping>
   		<servlet-name>Sport</servlet-name>
   		<url-pattern>/sport</url-pattern>
   </servlet-mapping>
   
   
   <!-- Crud Operations -->
    <!-- 1st mapping -->
    
    	<context-param>
   			<param-name>dburl</param-name>
   			<param-value>jdbc:mysql://localhost:3306/studentsData</param-value>
   		</context-param>
   		
   		<context-param>
   			<param-name>dbuser</param-name>
   			<param-value>root</param-value>
   		</context-param>
   		
   		<context-param>
   			<param-name>dbpass</param-name>
   			<param-value>root@123</param-value>
   		</context-param>
   		
   		
   <servlet>
   		<servlet-name>Student</servlet-name>
   		<servlet-class>studentData._01StudentData</servlet-class>
   		
   </servlet>
   
   
   <servlet-mapping>
   		<servlet-name>Student</servlet-name>
   		<url-pattern>/student</url-pattern>
   </servlet-mapping>
   
  
</web-app>